<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
  <div class="container">
    {% block content %}
      <h1>Default Content JUNI</h1>
    {% endblock %}

    <form action="/create" method="POST" class="form">
      <input type="text" class="form-control" placeholder="name" name="name">
      <input type="text" class="form-control" placeholder="quote" name="quote">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>